openapi: 3.0.3
info:
  title: GnosisRamp API
  version: 1.0.0
servers:
  - url: https://api.gnosisramp.io/v1
    description: Production
  - url: https://sandbox.api.gnosisramp.io/v1
    description: Sandbox
security:
  - basicAuth: []
  - bearerToken: []
tags:
  - name: Customers
    description: Customer management
  - name: External Accounts
    description: External account and requirements management
  - name: Intents
    description: Payment intent management
  - name: Currencies
    description: Supported currency pairs and providers

paths:

  /customers:
    post:
      tags:
        - Customers
      summary: Create customer
      description: |
        Create a new customer or retrieve an existing one.

        Pass a unique `id` to identify the customer within your system. Optionally include a
        `subject_token` (OIDC ID token) to link the customer to an identity provider.
        If a customer already exists for the given `id`, it returns the existing customer.

        The response includes an `access_token` JWT used to authenticate customer-scoped
        requests (external accounts, intents, transactions).
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '201':
          description: Customer created or retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Customer'
                  - type: object
                    properties:
                      access_token:
                        type: string
                        nullable: true
                        description: GnosisRamp JWT token for authenticated customer requests
        '401':
          description: Missing or invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Bad request or token validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - Customers
      summary: Get all customers
      description: |
        Retrieve a list of all customers for the authenticated project.

        Returns customers associated with the current organization and project
        based on the authentication context.
      security:
        - basicAuth: []
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '401':
          description: Missing or invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /external-accounts/requirements:
    get:
      tags:
        - External Accounts
      summary: Get external account requirements
      description: |
        Retrieve JSON Schema requirements for creating external accounts.

        Pass `src` and `dest` currency codes to get the schema requirements for both
        the source and destination accounts in a currency pair.
        The schemas include validation rules, field formats, and supported
        currencies/rails for dynamic form generation.
      parameters:
        - in: query
          name: src
          required: true
          schema:
            type: string
          description: Source currency code (e.g., `USD`, `EUR`, `BRL`)
          example: USD
        - in: query
          name: dest
          required: true
          schema:
            type: string
          description: Destination currency code (e.g., `USDC_GNO`, `USDC_ETH`, `USDC_BASE`)
          example: USDC_GNO
      responses:
        '200':
          description: Requirements retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequirementsResponse'
        '400':
          description: Bad request - must provide both src and dest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /customers/external-accounts:
    post:
      tags:
        - External Accounts
      summary: Create external account pair
      description: |
        Create a paired source and destination external account for the authenticated customer.

        External accounts represent customer-owned financial accounts such as bank accounts
        and crypto wallets used in payment intents. Accounts are always created in pairs —
        one source and one destination — to match a specific currency route.

        The customer ID is automatically extracted from the JWT bearer token.

        The `src` and `dest` fields are currency codes (e.g., `USD`, `USDC_GNO`).
        The `source` and `destination` fields are metadata objects that must conform to
        the JSON Schemas returned by `GET /external-accounts/requirements`.
      security:
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalAccountPairRequest'
      responses:
        '201':
          description: External account pair created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExternalAccountPairResponse'
        '400':
          description: Bad request or validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - External Accounts
      summary: Get all external accounts
      description: |
        Retrieve a list of all external accounts for the authenticated customer.

        Returns external accounts associated with the authenticated customer that can be used in payment intents.
        The customer ID is automatically extracted from the JWT bearer token.
      security:
        - bearerToken: []
      responses:
        '200':
          description: List of external accounts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalAccountResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /currencies/supported:
    get:
      tags:
        - Currencies
      summary: Get supported currency pairs
      description: |
        Retrieve the list of supported currency pairs and their available providers.

        Use this endpoint to discover which source-to-destination currency routes are
        available before creating external accounts or intents.
      security:
        - basicAuth: []
      responses:
        '200':
          description: List of supported currency pairs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportedCurrencyPair'
        '401':
          description: Missing or invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /intent:
    get:
      tags:
        - Intents
      summary: Get all payment intents
      description: |
        Retrieve all payment intents for the authenticated customer.

        Returns a list of all payment intents created by the authenticated customer,
        ordered by creation date (most recent first). Each intent includes its current
        status, compliance plan, money movement plan, and associated transaction if available.
      security:
        - bearerToken: []
      responses:
        '200':
          description: List of intents retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetIntentResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Intents
      summary: Create payment intent
      description: |
        Create a new payment intent between source and destination external accounts.

        The system will automatically find the optimal routing path and create compliance requirements
        based on the source and destination external accounts. Requires user authentication via bearer token.

        **Auto-Complete Feature**: For returning customers who have already completed compliance requirements,
        the API will automatically create a transaction and return deposit instructions immediately,
        skipping the onboarding workflow. In this case, `transaction` will be present and `frontendUrl`
        will be null.
      security:
        - bearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntentRequest'
      responses:
        '201':
          description: Intent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntentResponse'
        '400':
          description: Bad request or validation failed (including amount precision errors)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/AmountValidationError'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /intent/{id}:
    get:
      tags:
        - Intents
      summary: Get payment intent
      description: |
        Retrieve details of a specific payment intent by ID.

        The response includes all intent details, compliance plan status, and associated transaction
        data with deposit instructions if a transaction has been created.
      security:
        - bearerToken: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The intent ID
      responses:
        '200':
          description: Intent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntentResponse'
        '404':
          description: Intent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /intent/{intentId}/transaction:
    post:
      tags:
        - Intents
      summary: Execute transaction for payment intent
      description: |
        Initiates provider transaction execution for an intent.
        The underlying workflow processes this transaction asynchronously.

        **Prerequisites**:
        - Compliance plan must be completed (`currentStepCode` = "COMPLETED")
        - Intent must have an associated money movement plan

        **Returns**: Transaction object with deposit instructions in the `context` field.
      security:
        - bearerToken: []
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
          description: Intent identifier
      responses:
        '202':
          description: Transaction accepted for execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteTransactionResponse'
        '400':
          description: Transaction cannot be executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Intent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - Intents
      summary: Get transaction for payment intent
      description: |
        Retrieve the current transaction status and deposit instructions for an intent.

        Use this endpoint to poll for transaction status updates. Recommended polling
        interval is every 5 seconds while the transaction is in `PENDING` or `IN_PROGRESS` status.
        Stop polling when the transaction reaches a terminal state (`SUCCESS`, `FAILED`, `CANCELLED`).
      security:
        - bearerToken: []
      parameters:
        - in: path
          name: intentId
          required: true
          schema:
            type: string
          description: Intent identifier
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoneyMovementTransaction'
        '401':
          description: Missing or invalid bearer token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Intent or transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using project clientId and clientSecret
    bearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: GnosisRamp JWT bearer token for authenticated customer requests

  schemas:
    CreateCustomerRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Unique customer identifier within your system
          example: user_12345
        subject_token:
          type: string
          description: Optional OIDC ID token for identity provider linking
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Optional metadata to associate with the customer
      description: Request body for customer creation

    Customer:
      type: object
      required:
        - id
        - createdAt
        - updatedAt
        - organizationId
        - projectId
      properties:
        id:
          type: string
          format: uuid
          description: Unique customer identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        createdAt:
          type: string
          format: date-time
          description: Customer creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Customer last update timestamp
          example: '2024-01-01T00:00:00.000Z'
        organizationId:
          type: string
          description: Organization identifier
          example: org_123456
        projectId:
          type: string
          description: Project identifier
          example: proj_123456
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Additional customer metadata
      description: Customer entity

    ErrorResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code identifier
          example: BAD_REQUEST
        message:
          type: string
          description: Human-readable error message
          example: Invalid request parameters
      description: Standard error response format

    AmountValidationError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Error code identifier
          example: PAYMENT_AMOUNT_INVALID
        message:
          type: string
          description: Human-readable error message describing the amount validation failure
          example: amount exceeds allowed precision of 2 decimal places
      description: Specialized error response for amount precision validation failures

    RequirementsResponse:
      type: object
      required:
        - src
        - dest
        - source
        - destination
      properties:
        src:
          type: string
          description: Source currency code
          example: USD
        dest:
          type: string
          description: Destination currency code
          example: USDC_GNO
        source:
          type: object
          additionalProperties: true
          description: JSON Schema defining the requirements for the source account (e.g., bank account fields)
        destination:
          type: object
          additionalProperties: true
          description: JSON Schema defining the requirements for the destination account (e.g., crypto address fields)
      description: Paired external account requirements for a currency route

    CreateExternalAccountPairRequest:
      type: object
      required:
        - src
        - dest
        - source
        - destination
      properties:
        src:
          type: string
          description: Source currency code (e.g., `USD`, `EUR`, `BRL`)
          example: USD
        dest:
          type: string
          description: Destination currency code (e.g., `USDC_GNO`, `USDC_ETH`)
          example: USDC_GNO
        source:
          type: object
          additionalProperties: true
          description: Source account metadata matching the `source` JSON Schema from requirements
        destination:
          type: object
          additionalProperties: true
          description: Destination account metadata matching the `destination` JSON Schema from requirements
      description: Request to create a paired source and destination external account

    CreateExternalAccountPairResponse:
      type: object
      required:
        - source
        - destination
      properties:
        source:
          $ref: '#/components/schemas/ExternalAccountResponse'
        destination:
          $ref: '#/components/schemas/ExternalAccountResponse'
      description: Response containing both created external accounts

    ExternalAccount:
      type: object
      required:
        - id
        - type
        - currencyId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique external account identifier
          example: ext_acc_12345
        type:
          $ref: '#/components/schemas/ExternalAccountType'
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Account-specific metadata (structure varies by type)
        label:
          type: string
          description: Human-readable label for the account
          example: Personal Checking Account
        currencyId:
          type: string
          description: Currency identifier
          example: usd-currency-id
        customerId:
          type: string
          nullable: true
          description: Customer identifier (if associated with a customer)
          example: customer-123
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Account last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: External account entity

    ExternalAccountResponse:
      allOf:
        - $ref: '#/components/schemas/ExternalAccount'
        - type: object
          properties:
            currency:
              $ref: '#/components/schemas/Currency'
      description: External account with currency relation

    Currency:
      type: object
      required:
        - id
        - ticker
        - name
        - code
        - decimals
        - type
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique currency identifier
          example: usd-currency-id
        ticker:
          type: string
          description: Currency ticker symbol
          example: USDC
        name:
          type: string
          description: Currency display name
          example: USD Coin
        code:
          type: string
          description: Currency code (for crypto, format is {ticker}_{blockchain.code})
          example: USDC_ETH
        decimals:
          type: integer
          description: Number of decimal places for precision
          example: 6
        type:
          $ref: '#/components/schemas/CurrencyType'
        createdAt:
          type: string
          format: date-time
          description: Currency creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Currency last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: Currency entity

    SupportedCurrencyPair:
      type: object
      required:
        - from
        - to
        - providers
      properties:
        from:
          type: string
          description: Source currency code
          example: USD
        to:
          type: string
          description: Destination currency code
          example: USDC_GNO
        providers:
          type: array
          items:
            type: object
            required:
              - id
              - name
              - code
            properties:
              id:
                type: string
                description: Provider identifier
                example: provider_123
              name:
                type: string
                description: Provider display name
                example: Noah
              code:
                type: string
                description: Provider code
                example: NOAH
          description: Available providers for this currency pair
      description: A supported currency pair with its available providers

    CreateIntentRequest:
      type: object
      required:
        - srcExternalAccountId
        - destExternalAccountId
        - amount
      properties:
        srcExternalAccountId:
          type: string
          description: Source external account identifier
          example: ext_acc_src_123
        destExternalAccountId:
          type: string
          description: Destination external account identifier
          example: ext_acc_dest_456
        amount:
          type: string
          description: Transfer amount as a decimal string (not a number to avoid precision issues)
          example: '100.50'
        autoExecute:
          type: boolean
          default: false
          description: When true, automatically execute the transaction after compliance completes (skips the manual execute step)
        redirectUrl:
          type: string
          format: uri
          nullable: true
          description: Optional redirect URL after intent completion
          example: https://example.com/callback
        providerId:
          type: string
          maxLength: 255
          description: Optional provider ID to force a specific provider for this intent
          example: provider_123
      description: Request to create a payment intent

    TransferAmount:
      type: object
      required:
        - amount
        - currencyCode
      properties:
        amount:
          type: string
          description: Transfer amount as a decimal string
          example: '100.50'
        currencyCode:
          type: string
          description: Currency code
          example: USD
      description: Transfer amount with currency

    CompliancePlanStep:
      type: object
      required:
        - id
        - code
        - description
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique step identifier
          example: step_123
        code:
          type: string
          description: Step code identifier
          example: KYC_VERIFICATION
        description:
          type: string
          description: Human-readable step description
          example: Complete KYC verification
        metadata:
          type: object
          nullable: true
          additionalProperties: true
          description: Step-specific metadata
        complianceEdge:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: Compliance edge identifier
          description: Associated compliance edge
        createdAt:
          type: string
          format: date-time
          description: Step creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Step last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: Compliance plan step

    CompliancePlan:
      type: object
      required:
        - id
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique compliance plan identifier
          example: compliance_plan_123
        currentStepCode:
          type: string
          nullable: true
          description: Current step code (null if completed)
          example: KYC_VERIFICATION
        steps:
          type: array
          items:
            $ref: '#/components/schemas/CompliancePlanStep'
          description: List of compliance plan steps
        createdAt:
          type: string
          format: date-time
          description: Plan creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Plan last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: Compliance plan for an intent

    MoneyMovementPlan:
      type: object
      required:
        - id
        - type
        - providerAccountId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique money movement plan identifier
          example: mm_plan_123
        type:
          $ref: '#/components/schemas/MoneyMovementPlanType'
        providerAccountId:
          type: string
          description: Provider account identifier
          example: provider_acc_123
        providerAccount:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: Provider account identifier
            providerCode:
              type: string
              description: Provider code
              example: NOAH
            providerName:
              type: string
              nullable: true
              description: Provider display name
              example: Noah
          description: Provider account details
        createdAt:
          type: string
          format: date-time
          description: Plan creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Plan last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: Money movement plan for an intent

    GetIntentResponse:
      type: object
      required:
        - intent
      properties:
        intent:
          type: object
          required:
            - id
            - src
            - dest
            - status
            - createdAt
            - updatedAt
          properties:
            id:
              type: string
              description: Unique intent identifier
              example: intent_123
            src:
              $ref: '#/components/schemas/ExternalAccountResponse'
            dest:
              $ref: '#/components/schemas/ExternalAccountResponse'
            status:
              $ref: '#/components/schemas/IntentStatus'
            currentRequirementCode:
              type: string
              nullable: true
              description: Current compliance requirement code
              example: KYC_VERIFICATION
            expiredAt:
              type: string
              format: date-time
              nullable: true
              description: Intent expiration timestamp
              example: '2024-12-31T23:59:59.000Z'
            createdAt:
              type: string
              format: date-time
              description: Intent creation timestamp
              example: '2024-01-01T00:00:00.000Z'
            updatedAt:
              type: string
              format: date-time
              description: Intent last update timestamp
              example: '2024-01-01T00:00:00.000Z'
            transferAmount:
              $ref: '#/components/schemas/TransferAmount'
            mmPlan:
              $ref: '#/components/schemas/MoneyMovementPlan'
            compliancePlan:
              $ref: '#/components/schemas/CompliancePlan'
            redirectUrl:
              type: string
              format: uri
              nullable: true
              description: Redirect URL after intent completion
        frontendUrl:
          type: string
          format: uri
          nullable: true
          description: URL for the hosted onboarding/compliance frontend
          example: https://app.gnosisramp.com/intent/intent_123
        workflowId:
          type: string
          nullable: true
          description: Workflow identifier
          example: workflow_123
        transaction:
          allOf:
            - $ref: '#/components/schemas/MoneyMovementTransaction'
          nullable: true
          description: Money movement transaction if available
      description: Intent response with full details

    CreateIntentResponse:
      type: object
      required:
        - intent
        - frontendUrl
        - workflowId
      properties:
        intent:
          type: object
          required:
            - id
            - src
            - dest
            - status
            - createdAt
            - updatedAt
          properties:
            id:
              type: string
              description: Unique intent identifier
            src:
              $ref: '#/components/schemas/ExternalAccountResponse'
            dest:
              $ref: '#/components/schemas/ExternalAccountResponse'
            status:
              $ref: '#/components/schemas/IntentStatus'
            currentRequirementCode:
              type: string
              nullable: true
              description: Current compliance requirement code
            expiredAt:
              type: string
              format: date-time
              nullable: true
              description: Intent expiration timestamp
            createdAt:
              type: string
              format: date-time
              description: Intent creation timestamp
            updatedAt:
              type: string
              format: date-time
              description: Intent last update timestamp
            transferAmount:
              $ref: '#/components/schemas/TransferAmount'
            mmPlan:
              $ref: '#/components/schemas/MoneyMovementPlan'
            compliancePlan:
              $ref: '#/components/schemas/CompliancePlan'
            redirectUrl:
              type: string
              format: uri
              nullable: true
              description: Redirect URL after intent completion
        frontendUrl:
          type: string
          format: uri
          nullable: true
          description: URL for the hosted onboarding/compliance frontend (null if auto-completed)
        workflowId:
          type: string
          nullable: true
          description: Workflow identifier
        transaction:
          allOf:
            - $ref: '#/components/schemas/MoneyMovementTransaction'
          nullable: true
          description: Money movement transaction if auto-completed
      description: Intent creation response

    MoneyMovementTransaction:
      type: object
      required:
        - id
        - intentId
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Unique transaction identifier
          example: txn_123
        intentId:
          type: string
          description: Associated intent identifier
          example: intent_123
        status:
          $ref: '#/components/schemas/MoneyMovementTransactionStatus'
        providerReference:
          type: string
          nullable: true
          description: Provider-specific transaction reference
          example: noah_txn_abc123
        lastActivityAt:
          type: string
          format: date-time
          nullable: true
          description: Last activity timestamp
          example: '2024-01-01T00:00:00.000Z'
        context:
          type: object
          nullable: true
          additionalProperties: true
          description: Transaction context including deposit instructions
        createdAt:
          type: string
          format: date-time
          description: Transaction creation timestamp
          example: '2024-01-01T00:00:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Transaction last update timestamp
          example: '2024-01-01T00:00:00.000Z'
      description: Money movement transaction

    ExecuteTransactionResponse:
      type: object
      required:
        - intentId
        - status
        - transaction
      properties:
        intentId:
          type: string
          description: Intent identifier
          example: intent_123
        status:
          type: string
          enum:
            - IN_PROGRESS
          description: Transaction status
          example: IN_PROGRESS
        transaction:
          $ref: '#/components/schemas/MoneyMovementTransaction'
      description: Response from executing a money movement transaction

    IntentStatus:
      type: string
      enum:
        - PENDING
        - PROCESSING
        - COMPLETED
        - FAILED
        - EXPIRED
      description: Payment intent status
      example: PENDING

    MoneyMovementTransactionStatus:
      type: string
      enum:
        - PENDING
        - IN_PROGRESS
        - SUCCESS
        - FAILED
        - CANCELLED
      description: Money movement transaction status
      example: PENDING

    ExternalAccountType:
      type: string
      enum:
        - BANK_ACCOUNT
        - CRYPTO_ADDRESS
      description: External account type
      example: BANK_ACCOUNT

    MoneyMovementPlanType:
      type: string
      enum:
        - ONRAMP
        - OFFRAMP
      description: Money movement plan type
      example: ONRAMP

    CurrencyType:
      type: string
      enum:
        - FIAT
        - CRYPTO
      description: Currency type
      example: FIAT
